# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temporary scratch and user local configurations
_scratch/
_cfg/
*.tmp
*.log

# Third-party companion binary folder
AudacityPortable/

# OS / Editor files
Thumbs.db
Desktop.ini
.DS_Store
.vscode/
.idea/
